html{font-size: 16px;}
#app { width: 100%; }
.icon{ display: inline-block; background: url(../imgs/icons.png) no-repeat center center; background-size: 300px 300px;}
.vux-slider > .vux-swiper > .vux-swiper-item > a > .vux-swiper-desc{
  height: 3em !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))) !important;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%) !important;
}
.inline-calendar td.current > span.vux-calendar-each-date{background-color: #f8d850 !important;}
.vux-popup-header-right{color: #f2a43a !important;}
.vux-prev-icon, .vux-next-icon{ border:1px solid #f8d850 !important; border-top:none !important; border-right: none !important;}
.vux-popup-dialog{bottom:50px !important;}
.checkTime .weui-cell{padding:0 !important;}
.checkTime .vux-calendar{margin-top:40%;}
.checkTime .vux-calendar:before{ border-top:none !important; }
.checkTime .vux-cell-value{display:block !important; text-align: center !important;margin-left:8px; color: #484848 !important;}
.vux-tap-active:active{ background: none !important; }
.weui-cell__ft{ color: #484848 !important; font-size: 14px; }
.paddingBottom62{padding-bottom:62px;}
.ellips{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.rightArrowText{ font-size: 12px; color: #999999; position: absolute; right: 28px; top:50%; margin-top: -5px; }
.rightArrowSmallIcon{ position: absolute; width: 6px; height: 9px; background-position: 0 -22px; right: 16px; top:50%;margin-top:-4px; }
.weui-dialog{width: 87% !important; max-width: 100% !important; border-radius: 0px !important; overflow: visible !important;}
.vux-slider > .vux-indicator > a > .vux-icon-dot, .vux-slider .vux-indicator-right > a > .vux-icon-dot{
	width: 9px !important; height: 9px !important; border-radius: 100% !important; background-color: #fff !important;
}
.vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active{
	background-color: #f2a43a !important;
}
.checkTime .weui-cell_access .weui-cell__ft:after{ display: none !important; }
.checkTime .weui-cell_access .weui-cell__ft{padding-right: 0px !important;}
.inline-calendar td.is-today, .inline-calendar td.is-today.is-disabled{ color: #f8d850 !important; }
.paddingtop{padding-top: 46px;}
.txddItem .weui-cells{margin-top:0 !important;}
.weui-cells:before{ border-top:1px solid #efefef !important; }
.weui-cells:after{ border-bottom: 1px solid #efefef !important; }
.weui-cell:before{ border-top:1px dashed #efefef !important; left:33px !important;}
.roomNum .weui-cell{padding:14px 15px 14px 33px !important;}
.roomNum .weui-cell_access.vux-cell-box:after{ display: none !important; }
.vux-number-selector-plus{padding:3px !important;}
.vux-number-selector-sub{padding:4px 5px 2px 4px !important;}
.vux-number-input{width:34px !important;}
.vux-number-selector.vux-number-disabled svg{fill:#dddddd !important;}
.vux-number-selector svg{ fill:#999999 !important; }
.weui-label{ font-size: 15px; color: #505050; }
.weui-input{ font-size: 14px !important; color: #505050 !important;}
.writeMes .weui-cell,.choose .weui-cell{padding:16px 15px 16px 33px !important;}
.vux-popup-dialog{background: #fff !important;}
.choose .vux-label{ font-size: 15px !important; color: #505050 !important; }
.weui-cell_access .weui-cell__ft{
  font-size: 12px !important; color: #c2c2c7 !important;
}
.weui-cell_access .weui-cell__ft:after{ border-width: 1px 1px 0 0 !important; border-color: #cccccc !important; width: 5px !important; height: 5px !important; 
margin-top:-3px !important;}
.detailList .weui-cell:before{left:18px !important;}
.detailList .weui-form-preview__item{ padding:5px 0; }
.weui-btn{border-radius: 30px !important;line-height: 2.625rem !important; font-size: 1.125rem !important;}
 





@media screen and (max-width: 768px){
 html{font-size:22px;}
}
@media screen and (max-width: 414px){
 html{font-size:16px;}
}
@media screen and (max-width: 375px){
  html{font-size:15px;}
}
@media screen and (max-width: 360px){
  html{font-size:14px;}
}
@media screen and (max-width: 320px){
  html{font-size:13px;}
  .paddingtop{padding-top: 40px;}
  .rightArrowSmallIcon{right: 10px;}
  .rightArrowText{right: 22px;}
  .vux-slider > .vux-indicator > a > .vux-icon-dot, .vux-slider .vux-indicator-right > a > .vux-icon-dot{
  	width: 6px !important;
    height: 6px !important;
  }
  .vux-slider > .vux-indicator, .vux-slider .vux-indicator-right{
  	bottom:6px !important;
  }
}