#app { width: 100%; }
.icon{ display: inline-block; background: url(../imgs/icons.png) no-repeat center center; background-size: 300px 300px;}
.vux-slider > .vux-swiper > .vux-swiper-item > a > .vux-swiper-desc{
  height: 3em !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))) !important;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%) !important;
}
.inline-calendar td.current > span.vux-calendar-each-date{background-color: #f8d850 !important;}
.vux-popup-header-right{color: #f2a43a !important;}
.vux-prev-icon, .vux-next-icon{ border:1px solid #f2a43a !important; border-top:none !important; border-right: none !important;}
.vux-popup-dialog{bottom:50px !important;}
.checkTime .weui-cell{padding:0 !important;}
.checkTime .vux-calendar{margin-top:40%;}
.checkTime .vux-calendar:before{ border-top:none !important; }
.checkTime .vux-cell-value{display:block !important; text-align: center !important;margin-left:8px;}
.vux-tap-active:active{ background: none !important; }
.weui-cell__ft{ color: #484848 !important; font-size: 14px; }
.paddingBottom62{padding-bottom:62px;}
.ellips{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.rightArrowText{ font-size: 12px; color: #999999; position: absolute; right: 28px; top:50%; margin-top: -5px; }
.rightArrowSmallIcon{ position: absolute; width: 6px; height: 9px; background-position: 0 -22px; right: 16px; top:50%;margin-top:-4px; }
.weui-dialog{width: 87% !important; max-width: 100% !important; border-radius: 2px !important; overflow:visible !important;}
.vux-slider > .vux-indicator > a > .vux-icon-dot, .vux-slider .vux-indicator-right > a > .vux-icon-dot{
	width: 9px !important; height: 9px !important; border-radius: 100% !important; background-color: #fff !important;
}
.vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active{
	background-color: #f2a43a !important;
}




@media screen and (max-width: 320px){
  .rightArrowSmallIcon{right: 10px;}
  .rightArrowText{right: 22px;}
}